In [3]:
import pandas as pd
import seaborn as sns

In [4]:

iris = pd.read_csv("iris.csv")
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
iris = iris.rename(columns={'variety': 'class'})

In [6]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width   class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
iris['class'] = iris['class'].astype('category')
iris['class'] = iris['class'].cat.codes

In [8]:
iris['sepal.width'] = (iris['sepal.width'] - iris['sepal.width'].mean()) 
iris['sepal.width'].std()
iris['petal.length'] = (iris['petal.length'] - iris['petal.length'].mean()) 
iris['petal.length'].std()

1.7652982332594664

In [9]:
iris = iris[iris['sepal.width'] > 0.5]

In [10]:
iris

     sepal.length  sepal.width  petal.length  petal.width  class
4             5.0     0.542667        -2.358          0.2      0
5             5.4     0.842667        -2.058          0.4      0
10            5.4     0.642667        -2.258          0.2      0
14            5.8     0.942667        -2.558          0.2      0
15            5.7     1.342667        -2.258          0.4      0
16            5.4     0.842667        -2.458          0.4      0
18            5.7     0.742667        -2.058          0.3      0
19            5.1     0.742667        -2.258          0.3      0
21            5.1     0.642667        -2.258          0.4      0
22            4.6     0.542667        -2.758          0.2      0
32            5.2     1.042667        -2.258          0.1      0
33            5.5     1.142667        -2.358          0.2      0
37            4.9     0.542667        -2.358          0.1      0
44            5.1     0.742667        -1.858          0.4      0
46            5.1     0.742667        -2.158          0.2      0
48            5.3     0.642667        -2.258          0.2      0
109           7.2     0.542667         2.342          2.5      2
117           7.7     0.742667         2.942          2.2      2
131           7.9     0.742667         2.642          2.0      2