In [23]:
import pandas as pd
import seaborn as sns

In [24]:

iris = pd.read_csv("iris.csv")
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [26]:
iris = iris.rename(columns={'variety': 'class'})

In [27]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width   class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [28]:
iris['class'] = iris['class'].astype('category')
iris['class'] = iris['class'].cat.codes

In [37]:
iris['sepal.width'] = (iris['sepal.width'] - iris['sepal.width'].mean()) 
iris['sepal.width'].std()
iris['petal.length'] = (iris['petal.length'] - iris['petal.length'].mean()) 
iris['petal.length'].std()

1.7652982332594664

In [39]:
iris = iris[iris['sepal.width'] > 0.5]

In [40]:
iris.head()

    sepal.length  sepal.width  petal.length  petal.width  class
4            5.0     0.542667        -2.358          0.2      0
5            5.4     0.842667        -2.058          0.4      0
10           5.4     0.642667        -2.258          0.2      0
14           5.8     0.942667        -2.558          0.2      0
15           5.7     1.342667        -2.258          0.4      0