In [45]:
import pandas as pd
import numpy as np

In [46]:
from sklearn.datasets import load_iris
iris = load_iris()

In [47]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [48]:
grouped = df.groupby('petal length (cm)').mean()

In [49]:
mapping = {}
for row in grouped.iterrows():
    mapping[row[0]] = row[1]['target']

In [50]:
df['prediction'] = df['petal length (cm)'].apply(lambda x: mapping[x])
df['prediction']

0      0.000
1      0.000
2      0.000
3      0.000
4      0.000
       ...
145    2.000
146    1.750
147    2.000
148    2.000
149    1.875
Name: prediction, Length: 150, dtype: float64

In [51]:
mse = np.mean((df['prediction'] - df['target'])**2)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.03133333333333333

In [52]:
print("Predicted Target Values:")
print(df['prediction'])

Predicted Target Values:
0      0.000
1      0.000
2      0.000
3      0.000
4      0.000
       ...
145    2.000
146    1.750
147    2.000
148    2.000
149    1.875
Name: prediction, Length: 150, dtype: float64

In [53]:
#with using dataset

In [54]:
iris = pd.read_csv("iris.csv")
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [55]:
grouped = iris.groupby('petal.length').mean()

C:\Users\Hariprasath\AppData\Local\Temp\ipykernel_16640\4250733587.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = iris.groupby('petal.length').mean()

In [71]:
iris['prediction'] = iris['petal.width']

In [72]:
iris = iris.rename(columns={'variety': 'class'})

In [73]:
iris['class'] = iris['class'].astype('category')
iris['class'] = iris['class'].cat.codes
iris

     sepal.length  sepal.width  petal.length  petal.width  class  prediction
0             5.1          3.5           1.4          0.2      0         0.2
1             4.9          3.0           1.4          0.2      0         0.2
2             4.7          3.2           1.3          0.2      0         0.2
3             4.6          3.1           1.5          0.2      0         0.2
4             5.0          3.6           1.4          0.2      0         0.2
..            ...          ...           ...          ...    ...         ...
145           6.7          3.0           5.2          2.3      2         2.3
146           6.3          2.5           5.0          1.9      2         1.9
147           6.5          3.0           5.2          2.0      2         2.0
148           6.2          3.4           5.4          2.3      2         2.3
149           5.9          3.0           5.1          1.8      2         1.8

[150 rows x 6 columns]

In [76]:
mse = np.mean((iris['prediction'] - iris['class'])**2)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.09686666666666666

In [77]:
print("Predicted Target Values:")
print(iris['prediction'])

Predicted Target Values:
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: prediction, Length: 150, dtype: float64